.cyan-50,
.cyan-tint-5 {
    background-color: var(--cyan-50);
}

.cyan-100,
.cyan-tint-4 {
    background-color: var(--cyan-100);
}

.cyan-200,
.cyan-tint-3 {
    background-color: var(--cyan-200);
}

.cyan-300,
.cyan-tint-2 {
    background-color: var(--cyan-300);
}

.cyan-400,
.cyan-tint-1 {
    background-color: var(--cyan-400);
}

.cyan-500,
.cyan {
    background-color: var(--cyan-500);
}

.cyan-600,
.cyan-shade-1 {
    background-color: var(--cyan-600);
}

.cyan-700,
.cyan-shade-2 {
    background-color: var(--cyan-700);
}

.cyan-800,
.cyan-shade-3 {
    background-color: var(--cyan-800);
}

.cyan-900,
.cyan-shade-4 {
    background-color: var(--cyan-900);
}

.cyan-A100,
.cyan-accent-1 {
    background-color: var(--cyan-A100);
}

.cyan-A200,
.cyan-accent-2 {
    background-color: var(--cyan-A200);
}

.cyan-A300,
.cyan-accent-3 {
    background-color: var(--cyan-A300);
}

.cyan-A400,
.cyan-accent-4 {
    background-color: var(--cyan-A400);
}