.light-green-50,
.light-green-tint-5 {
    background-color: var(--light-green-50);
}

.light-green-100,
.light-green-tint-4 {
    background-color: var(--light-green-100);
}

.light-green-200,
.light-green-tint-3 {
    background-color: var(--light-green-200);
}

.light-green-300,
.light-green-tint-2 {
    background-color: var(--light-green-300);
}

.light-green-400,
.light-green-tint-1 {
    background-color: var(--light-green-400);
}

.light-green-500,
.light-green {
    background-color: var(--light-green-500);
}

.light-green-600,
.light-green-shade-1 {
    background-color: var(--light-green-600);
}

.light-green-700,
.light-green-shade-2 {
    background-color: var(--light-green-700);
}

.light-green-800,
.light-green-shade-3 {
    background-color: var(--light-green-800);
}

.light-green-900,
.light-green-shade-4 {
    background-color: var(--light-green-900);
}

.light-green-A100,
.light-green-accent-1 {
    background-color: var(--light-green-A100);
}

.light-green-A200,
.light-green-accent-2 {
    background-color: var(--light-green-A200);
}

.light-green-A300,
.light-green-accent-3 {
    background-color: var(--light-green-A300);
}

.light-green-A400,
.light-green-accent-4 {
    background-color: var(--light-green-A400);
}