.purple-50,
.purple-tint-5 {
    background-color: var(--purple-50);
}

.purple-100,
.purple-tint-4 {
    background-color: var(--purple-100);
}

.purple-200,
.purple-tint-3 {
    background-color: var(--purple-200);
}

.purple-300,
.purple-tint-2 {
    background-color: var(--purple-300);
}

.purple-400,
.purple-tint-1 {
    background-color: var(--purple-400);
}

.purple-500,
.purple {
    background-color: var(--purple-500);
}

.purple-600,
.purple-shade-1 {
    background-color: var(--purple-600);
}

.purple-700,
.purple-shade-2 {
    background-color: var(--purple-700);
}

.purple-800,
.purple-shade-3 {
    background-color: var(--purple-800);
}

.purple-900,
.purple-shade-4 {
    background-color: var(--purple-900);
}

.purple-A100,
.purple-accent-1 {
    background-color: var(--purple-A100);
}

.purple-A200,
.purple-accent-2 {
    background-color: var(--purple-A200);
}

.purple-A300,
.purple-accent-3 {
    background-color: var(--purple-A300);
}

.purple-A400,
.purple-accent-4 {
    background-color: var(--purple-A400);
}