.red-50,
.red-tint-5 {
	background-color: var(--red-50);
}

.red-100,
.red-tint-4 {
	background-color: var(--red-100);
}

.red-200,
.red-tint-3 {
	background-color: var(--red-200);
}

.red-300,
.red-tint-2 {
	background-color: var(--red-300);
}

.red-400,
.red-tint-1 {
	background-color: var(--red-400);
}

.red-500,
.red {
	background-color: var(--red-500);
}

.red-600,
.red-shade-1 {
	background-color: var(--red-600);
}

.red-700,
.red-shade-2 {
	background-color: var(--red-700);
}

.red-800,
.red-shade-3 {
	background-color: var(--red-800);
}

.red-900,
.red-shade-4 {
	background-color: var(--red-900);
}

.red-A100,
.red-accent-1 {
	background-color: var(--red-A100);
}

.red-A200,
.red-accent-2 {
	background-color: var(--red-A200);
}

.red-A300,
.red-accent-3 {
	background-color: var(--red-A300);
}

.red-A400,
.red-accent-4 {
	background-color: var(--red-A400);
}