:root {

    /*
    --shadow-#: 0 #px (# + 4)px 0 rgba(0, 0, 0, 0.12),
                0 1px (# + 2)px 0 rgba(0, 0, 0, 0.48);
    */

	--shadow-1: none;

    /* Card (resting), Raised button (resting), Quick Entry/Search bar (resting) */
	--shadow-2:  0 2px 6px  0 rgba(0, 0, 0, 0.12),
				 0 1px 4px  0 rgba(0, 0, 0, 0.48);

    /* Refresh indicator, Quick entry/Search bar (scolled) */
	--shadow-3:  0 3px 7px  0 rgba(0, 0, 0, 0.12),
				 0 1px 5px  0 rgba(0, 0, 0, 0.48);

    /* App Bar */
	--shadow-4:  0 4px 8px  0 rgba(0, 0, 0, 0.12),
				 0 1px 6px  0 rgba(0, 0, 0, 0.48);

    /*  */
	--shadow-5:  0 5px 9px  0 rgba(0, 0, 0, 0.12),
				 0 1px 7px  0 rgba(0, 0, 0, 0.48);

    /* Floating action button (resting), Snackbar */
	--shadow-6:  0 6px 10px  0 rgba(0, 0, 0, 0.12),
				 0 1px 9px   0 rgba(0, 0, 0, 0.48);

    /*  */
	--shadow-7:  0 7px 11px 0 rgba(0, 0, 0, 0.12),
				 0 1px 9px  0 rgba(0, 0, 0, 0.48);

    /* Menu, Card (picked up), Raised button (pressed) */
	--shadow-8:  0 8px 12px 0 rgba(0, 0, 0, 0.12),
				 0 1px 10px 0 rgba(0, 0, 0, 0.48);

    /* Sub menu (+1dp for earch sub menu) */
	--shadow-9:  0 9px 13px 0 rgba(0, 0, 0, 0.12),
				 0 1px 11px 0 rgba(0, 0, 0, 0.48);

    /*  */
	--shadow-10: 0 10px 14px 0 rgba(0, 0, 0, 0.12),
				 0  1px 12px 0 rgba(0, 0, 0, 0.48);

    /*  */
	--shadow-11: 0 11px 15px 0 rgba(0, 0, 0, 0.12),
				 0  1px 13px 0 rgba(0, 0, 0, 0.48);

    /* Floating action button (pressed) */
	--shadow-12: 0 13px 16px 0 rgba(0, 0, 0, 0.12),
				 0  1px 14px 0 rgba(0, 0, 0, 0.48);

    /*  */
	--shadow-13: 0 13px 17px 0 rgba(0, 0, 0, 0.12),
				 0  1px 15px 0 rgba(0, 0, 0, 0.48);

    /*  */
	--shadow-14: 0 14px 18px 0 rgba(0, 0, 0, 0.12),
				 0  1px 16px 0 rgba(0, 0, 0, 0.48);

    /*  */
	--shadow-15: 0 15px 19px 0 rgba(0, 0, 0, 0.12),
				 0  1px 17px 0 rgba(0, 0, 0, 0.48);

    /* Nav drawer, Right drawer, Bottom Sheet */
	--shadow-16: 0 16px 20px 0 rgba(0, 0, 0, 0.12),
				 0  1px 18px 0 rgba(0, 0, 0, 0.48);

    /*  */
	--shadow-17: 0 17px 21px 0 rgba(0, 0, 0, 0.12),
				 0  1px 19px 0 rgba(0, 0, 0, 0.48);

    /*  */
	--shadow-18: 0 18px 22px 0 rgba(0, 0, 0, 0.12),
				 0  1px 20px 0 rgba(0, 0, 0, 0.48);

    /*  */
	--shadow-19: 0 19px 23px 0 rgba(0, 0, 0, 0.12),
				 0  1px 21px 0 rgba(0, 0, 0, 0.48);

    /*  */
    --shadow-20: 0 20px 24px 0 rgba(0, 0, 0, 0.12),
                 0  1px 22px 0 rgba(0, 0, 0, 0.48);

    /*  */
    --shadow-21: 0 21px 25px 0 rgba(0, 0, 0, 0.12),
                 0  1px 23px 0 rgba(0, 0, 0, 0.48);

    /*  */
    --shadow-22: 0 22px 26px 0 rgba(0, 0, 0, 0.12),
                 0  1px 24px 0 rgba(0, 0, 0, 0.48);

    /*  */
    --shadow-23: 0 23px 27px 0 rgba(0, 0, 0, 0.12),
                 0  1px  25px 0 rgba(0, 0, 0, 0.48);

    /* Dialog, Picker */
    --shadow-24: 0 24px 28px 0 rgba(0, 0, 0, 0.12),
                 0  1px 26px 0 rgba(0, 0, 0, 0.48);
}

.shadow-1 { box-shadow: var(--shadow-1); }
.shadow-2 { box-shadow: var(--shadow-2); }
.shadow-3 { box-shadow: var(--shadow-3); }
.shadow-4 { box-shadow: var(--shadow-4); }
.shadow-5 { box-shadow: var(--shadow-5); }
.shadow-6 { box-shadow: var(--shadow-6); }
.shadow-7 { box-shadow: var(--shadow-7); }
.shadow-8 { box-shadow: var(--shadow-8); }
.shadow-9 { box-shadow: var(--shadow-9); }
.shadow-10 { box-shadow: var(--shadow-10); }
.shadow-11 { box-shadow: var(--shadow-11); }
.shadow-12 { box-shadow: var(--shadow-12); }
.shadow-13 { box-shadow: var(--shadow-13); }
.shadow-14 { box-shadow: var(--shadow-14); }
.shadow-15 { box-shadow: var(--shadow-15); }
.shadow-16 { box-shadow: var(--shadow-16); }
.shadow-17 { box-shadow: var(--shadow-17); }
.shadow-18 { box-shadow: var(--shadow-18); }
.shadow-19 { box-shadow: var(--shadow-19); }
.shadow-20 { box-shadow: var(--shadow-20); }
.shadow-21 { box-shadow: var(--shadow-21); }
.shadow-22 { box-shadow: var(--shadow-22); }
.shadow-23 { box-shadow: var(--shadow-23); }
.shadow-24 { box-shadow: var(--shadow-24); }