.button,
.button-raised {
    @mixin typo-button;

    position: relative;
    display: inline-block;
    height: 36px;
    min-width: 48px;
    padding-right: 8px;
    padding-left: 8px;
    margin: 0 8px;
    cursor: pointer;
    background-color: var(--white);
    border: none;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
}

.button-raised {
    box-shadow: var(--shadow-2);
}

.button-raised:active {
    box-shadow: var(--shadow-8);
}

.button.disabled,
.button[disabled],
.button-raised[disabled] {
    color: var(--grey-500);
    pointer-events: none;
    cursor: auto;
    box-shadow: none;
}
